
<div class="chat">
    <div class="{{who}} messages">
        <div class="message">
            <!-- <span *ngIf="userid" class="badge badge-light">
                <small>{{userid}}</small>
            </span> -->
            <span *ngIf="!imageUrl" class="msg-lines">{{message}}</span>
            <span *ngIf="imageUrl" class="msg-image">
                <div class="illustration">
                    <img [src]="imageUrl"
                     (click)="onViewImage(imageUrl)"
                    style='max-width: 200px;'>
                </div>
            </span>
            <div>
                <small class="mgs-time">{{adminid}} {{msgtime|date:'hh:mm a'}}</small>
            </div>
         </div>
        
      </div>
</div>