<div fxLayout="row" fxFill>
  <div fxLayout fxFlex>
    <div class="user-list" fxFlex="30%">
      <app-connected-users (selectedUser)="OnUserSelected($event)" [users]="userlist"></app-connected-users>
    </div>
    <div  fxFlex="70%" >
        <div class="message-panel" fxLayout="column" fxLayoutAlign="end stretch" >
          <div class="one1" fxFlex="10" >
            <mat-toolbar>
                <div *ngIf="username">
                 <fa-icon [icon]="faUserCircle" class="online-user">                  
                 </fa-icon>                 
              </div>
              <div><span> {{username}}</span> </div>
              <span class="example-spacer"></span>
              <div (click)="openDialog()">
                <fa-icon [icon]="faCog" class="online-user">                  
                </fa-icon>
                <span></span> 
              </div>
              <div >
                <fa-icon (click)="openChgLocationDialog()" [icon]="faStreetView" class="online-user">                  
                </fa-icon>
                <span></span> 
              </div>
              <div >
                <fa-icon (click)="openFilterDialog()" [icon]="faFilter" class="online-user">                  
                </fa-icon>
                <span></span> 
              </div>
            </mat-toolbar>
          </div>
          <div class="msg-body" fxFlex="80">
               <!-- <cdk-virtual-scroll-viewport itemSize="30" minBufferPx="40" class="viewport">
                <ng-container  *cdkVirtualFor="let msg of messages" class="example-item">
                  <app-message-box who="{{msg.mine}}" userid="{{msg.user}}" message="{{msg.message}}"></app-message-box>
                </ng-container >
              </cdk-virtual-scroll-viewport> -->
              <virtual-scroller #scroll [items]="messages" class="viewport">
                  <ng-container *ngFor="let msg of scroll.viewPortItems ">
                        <app-message-box 
                            who="{{msg.mine}}" 
                            userid="{{msg.user}}" 
                            message="{{msg.message}}">
                        </app-message-box>
                 
                  </ng-container >                 
              </virtual-scroller>
          </div>
          <div class="footer" fxFlex="10" >
              <div fxLayout="row" fxLayoutAlign="center center" fxFill>
                  <div fxLayout fxFlex>
                      <div class="msg-text" fxFlex="90">
                          <input #accessId
                                 [readonly]="!isReadyToChat"
                                 [formControl]="textmsg" 
                                 (keydown)="onTextKeydown($event)"
                                 class="form-control border border-success" 
                                 type="text"
                          placeholder="type message here">
                      </div>
                      <div class="btn-Send" fxFlex="10">
                          <button 
                              class="btn btn-info btn-block" 
                              [disabled]="!isReadyToChat"
                              (click)="onSendMsg()">
                              <fa-icon [icon]="faPlay" >
                              </fa-icon>   
                              Send
                            </button>
                      </div>
                  </div>
              </div>              
          </div>        
      </div>
    </div>
  </div>
</div>